<% title "Edit Maze" %>

<%= render 'form' %>

<p>
  <strong>Nodes:</strong>
  <% @nodes.each do |node| %>
  	<p>
			<%= node.title %>
		  <%= link_to "Edit", edit_maze_node_path(@maze, node) %> |
		  <%= link_to "Destroy", [@maze, node], :confirm => 'Are you sure?', :method => :delete %>
		</p>
  <% end unless @nodes.nil? %>
  
</p>

<p>
  <%= link_to "Create Node", new_maze_node_path(@maze) %> |
  <%= link_to "Back", mazes_path %>
</p>
