<% title "Mazes" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for maze in @mazes %>
    <tr>
      <td><%= maze.title %></td>
      <td><%= link_to "Play", maze %></td>
      <td><%= link_to "Edit", edit_maze_path(maze) %></td>
      <td><%= link_to "Destroy", maze, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create Maze", new_maze_path %></p>
