<% title "Maze" %>

<p>
  <strong>Title:</strong>
  <%= @maze.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @maze.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_maze_path(@maze) %> |
  <%= link_to "Destroy", @maze, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", mazes_path %>
</p>
