<% title "Maze" %>

<p>
  <strong>Title:</strong>
  <%= @maze.title %>
</p>
<p>
  <strong>Nodes:</strong>
  <% @nodes.each do |node| %>
  	<p>
			<%= node.title %>
			<%= link_to "Show", maze_node_path(@maze, node.id)%>
		</p>
  <% end %>
  
</p>

<p>
  <%= link_to "Edit", edit_maze_path(@maze) %> |
  <%= link_to "Destroy", @maze, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", mazes_path %>
</p>
