<%= form_for [@maze,@node,@link] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :to_node_id %><br />
    <%= f.select :to_node_id, @nodes %>
  </p>
  <p><%= f.submit %></p>
<% end %>
